<!-- - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
  <%# TITRE %>
  <div class="container">
    <div class="container row justify-content-md-center"> 
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="mb-4 display-5 text-center">Ajouter un Potin</h1>
        <p class="text-secondary mb-5 text-center lead fs-4">Tous les potins les plus croustillants sont ici</p>
      </div>
    </div>
  </div>

  <%# content %>

</section>